CONFIG_ESP_WIFI_ENABLED=y
CONFIG_ESP_WIFI_STA_ENABLED=y
CONFIG_ESP_WIFI_802_11_N_SUPPORT=y
CONFIG_ESP_WIFI_802_11_K_SUPPORT=y
CONFIG_PARTITION_TABLE_SINGLE_APP=y
CONFIG_BOOTLOADER_LOG_LEVEL_INFO=y
CONFIG_LOG_DEFAULT_LEVEL_INFO=y
CONFIG_FREERTOS_HZ=1000
