{
  "version": 1,
  "minor_version": 4,
  "key": "core.config",
  "data": {
    "latitude": 15.9266657,
    "longitude": 107.9650855,
    "elevation": 0,
    "unit_system_v2": "metric",
    "location_name": "Home",
    "time_zone": "Asia/Bangkok",
    "external_url": null,
    "internal_url": null,
    "currency": "VND",
    "country": "VN",
    "language": "en",
    "radius": 100
  }
}